{% import "system/macro/form/confirmation.html.twig" as form_confirmation %}
{% import "system/macro/navigation/breadcrumb.html.twig" as breadcrumb %}
{% import "system/macro/row/input.html.twig" as row_input %}
{% import "system/macro/row/save.html.twig" as row_save %}

{% if not isPluginUnlocked() %}
    {{ messages() | raw }}
{% else %}
    {{ breadcrumb.component({
        items: [
            [localized.breadcrumb.module, "?page=#{controllerId}"],
            localized.breadcrumb.create
        ]
    }, localized) }}

    {{ messages() | raw }}

    <form action="{{ "?page=#{controllerId}&action=store" }}" method="post" class="needs-validation bc-group/form" novalidate>
        {% embed "system/embed/card/card-with-info-panel.html.twig" %}
            {% import "system/macro/card/card-heading.html.twig" as card_heading %}

            {% block mainHeader %}
                {{ card_heading.component({
                    title: localized.headline.scans,
                }) }}
            {% endblock %}

            {% block mainContent %}
                {% import "system/macro/row/save.html.twig" as row_save %}
                {% import "system/macro/row/select.html.twig" as row_select %}

                {{ row_select.component({
                    id: 'selectScanType',
                    label: localized.field.selectScanType,
                    name: 'selectScanType',
                    options: scanTypes.list,
                    value: data.selectScanType == '' ? 'setup' : data.selectScanType,
                }) }}

                {{ row_select.component({
                    id: 'selectPageType',
                    label: localized.field.selectPageType,
                    name: 'selectPageType',
                    options: pageTypes.list,
                    value: data.selectPageType == '' ? '' : data.selectPageType,
                }) }}

                <div id="customScanPage">
                    {% embed "system/embed/form-row.html.twig" %}
                        {% block label %}
                            <label for="scanPageUrl">{{ localized.field.scanPageUrl | raw }}</label>
                        {% endblock %}

                        {% block input %}
                            {% import "system/macro/form-component/checkbox.html.twig" as checkbox %}
                            {% import "system/macro/form-component/input.html.twig" as input %}
                            {% import "system/macro/form-component/select.html.twig" as select %}

                            <div class="bc-flex bc-items-center bc-space-x-2">
                                {{ select.component({
                                    dataAttribute: 'data-brlbs-scan-request-url',
                                    id: 'scanPageUrl',
                                    isDisabled: data.customScanUrl is not empty,
                                    name: 'scanPageUrl',
                                    options: config.pages.list,
                                    value: data.scanPageUrl
                                }) }}

                                {{ hint.component({
                                    hint: localized.hint.scanPageUrl,
                                }) }}
                            </div>

                            <div class="bc-flex bc-items-center bc-space-x-2 bc-pt-2 bc-w-3/4">
                                {{ checkbox.component({
                                    checked: data.customScanUrl is not empty,
                                    dataAttribute: "data-brlbs-enable-target=\"customScanUrl\" data-brlbs-disable-target=\"scanPageUrl\"",
                                    id: 'enableCustomScanUrl',
                                    name: 'enableCustomScanUrl',
                                }) }}
                                {{ input.component({
                                    dataAttribute: 'data-brlbs-scan-request-url',
                                    id: 'customScanUrl',
                                    isDisabled: data.customScanUrl is empty,
                                    name: 'customScanUrl',
                                    placeholder: 'https://',
                                    type: 'url',
                                    value: data.customScanUrl,
                                    width: 'bc-w-full'
                                }) }}
                            </div>
                        {% endblock %}
                    {% endembed %}
                </div>

                {{ row_save.component({
                    action: 'store',
                    backLink: "?page=#{controllerId}",
                    backButton: localized.button.back,
                    button: localized.button.createScan,
                    nonce: wpNonceField("#{controllerId}-store"),
                    value: data.id,
                }, localized) }}

            {% endblock %}

            {% block infoPanelHeader %}
                {{ localized.global.headline.thingsToKnow | raw }}
            {% endblock %}

            {% block infoPanelContent %}
                {% embed "system/embed/accordion/accordion-group.html.twig" %}
                    {% block content %}
                        {% embed "system/embed/accordion/accordion.html.twig" with {id: 'accordionGeneralSettingsOne', expanded: true} %}
                            {% block title %}
                                {{ localized.thingsToKnow.headlineScanType | raw }}
                            {% endblock %}
                            {% block content %}
                                <p>{{ localized.thingsToKnow.scanTypeAudit | raw }}</p>
                                <p>{{ localized.thingsToKnow.scanTypeSetup | raw }}</p>
                            {% endblock %}
                        {% endembed %}
                        {% embed "system/embed/accordion/accordion.html.twig" with {id: 'accordionGeneralSettingsTwo'} %}
                            {% block title %}
                                {{ localized.thingsToKnow.headlinePagesToScan | raw }}
                            {% endblock %}
                            {% block content %}
                                <p>{{ localized.thingsToKnow.pagesToScanCustom | raw }}</p>
                                <p>{{ localized.thingsToKnow.pagesToScanHomepage | raw }}</p>
                                <p>{{ localized.thingsToKnow.pagesToScanSelectionOfSitesPerPostType | raw }}</p>
                                <p>{{ localized.thingsToKnow.numberOfSelectionOfSitesPerPostType | raw }}</p>
                            {% endblock %}
                        {% endembed %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    </form>
{% endif %}
